.container {
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing:border-box;
}

.flex-direction-row {
     flex-direction: row;
}

.vertical-top {
    vertical-align: text-top;
}

.vertical-middle {
    vertical-align: middle;
}

.divider {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 10px;
}

.m-1 {
    margin: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.col-4 {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    box-sizing:border-box;
}

.col-2 {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
    box-sizing:border-box;
}

.link-d-none {
    text-decoration: none;
}

